/* App-wide styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #38bdf8;
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-title {
  flex: 1;
  font-size: 2.2rem;
  font-weight: bold;
  color: white;
}

.title-link {
  text-decoration: none;
  color: white;
}

.header-search {
  flex: 2;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.header-links {
  flex: 1;
  display: flex;
  font-size: 1.1rem;
  justify-content: flex-end;
  gap: 15px;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-link:hover {
  text-decoration: underline;
}

/* Home page layout */
.home {
  padding: 20px;
}

.posts-feed {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align the cards */
  padding: 20px;
  gap: 20px; /* Add space between post cards */
}


.post-image {
  width: 700px; /* Ensure the image spans the full width of the post card */
  height: 200px;
  object-fit: cover;
  display: block;
}